@page
@model webPickleballTerrebonne.Pages.IndexModel
@{
    ViewBag.Title = "Accueil - Club de Pickleball Terrebonne";
}

@section ScriptsEntete {
    <link href="~/css/acceuil.css" rel="stylesheet" />
    @* <link href="~/css/acceuil.min.css" rel="stylesheet" /> *@
}


<div class="container">
    <div class="pbtImage mt-5">
        <img class="pbtImageBg img-fluid" src="~/images/accueil/parc-vignobles.png" alt="Parc des Vignobles" />
        <div class="pbtImageTxt">
            <div style="line-height: 1;">Club de Pickleball</div>
            <div style="line-height: 1;">Terrebonne inc.</div>
        </div>
    </div>


    @* <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p> *@
</div>



@section ScriptsPied {
    <script src="~/lib/gsap/gsap.min.js"></script>
    <script src="~/js/acceuil/animation.js"></script>
}