@import "02_Variables";

.pbtImage {
    position: relative;
    overflow: hidden;
}

.pbtImageBg {
    display: block;
    width: 100%;
}

.pbtImageTxt {
    font-family: $wpFontText;
    position: absolute;
    text-align: right;
    line-height: 1;
    top: 2.5rem;
    left: 60%;
    /*transform: translate(-50%, -50%);*/
    font-size: 3rem;
    color: white;
    opacity: 1;
    text-shadow: 3px 3px #656565;
}

/*.pbtBalle {
    position: absolute;
    top: 0;
    left: 25%;
}

    .pbtBalle img {
        height: calc(100vh * 0.3);
    }*/


