@import "02_Variables";

.pbtImage {
    position: relative;
    /* width: 600px; */
    /* height: 400px; */
    overflow: hidden;
}

.pbtImageBg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pbtImageTxt {
    /*position: absolute;*/
    font-family: $wpFontText;
    text-align: right;
    line-height: 0.8;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*align-content: end;*/
    font-size: 3rem;
    color: orange;
    /*opacity: 0;*/ /* caché au départ */
}
