<nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-body-tertiary shadow p-0">
    <div class="container">
        <a class="navbar-brand p-0 m-0" href="https://pickleballterrebonne.com">
            <img class="m-0 p-0" src="~/images/logo-club-pickleball-terrebonne_rgb.svg" height="10" alt="logo_pickleballTerrebonne" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        @* <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <partial name="_LoginPartial" />
        </div> *@
    </div>
</nav>