<nav class="navbar bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="https://pickleballterrebonne.com">
            <img src="~/images/logo-club-pickleball-terrebonne_rgb.svg" height="110" alt="logo_pickleballTerrebonne" />
        </a>
    </div>
</nav>
