@page
@model web_PickleballTerrebonne.Areas.Identity.Pages.Account.IndexModel
@{
    ViewData["Title"] = "Confirmer l'adresse courriel";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />