@* @page
@model webPickleballTerrebonne.Pages.Inscriptions.ErreurModel
@{
    ViewBag.Title = "Inscription - Erreur";
}
<div class="container">
    <div>Une erreur s'est produite lors de l'envoi du formulaire. SVP, recommencer.</div>
    <a class="btn btn-primary" href="/Inscriptions/Creer">Recommencer</a>
</div> *@