<nav class="navbar navnar-dark bg-dark navbar-expand-sm navbar-toggleable-sm bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" asp-area="admin" asp-page="/index">
            ADMIN
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-link" asp-area="admin" asp-page="/Membres/index">Membres</a>
            </div>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>