.piedPage {
    /*margin: 1rem,0,1.5rem,0;*/
    /*margin: 10;*/
    /*padding: 10;*/
    background-color: #fff;
}


@media (min-width: 768px) {
    .border-md-end {
        border-right: 1px solid #ccc;
    }
}
