/*@font-face {
    font-family: 'Material Icons';
    src: url('../fonts/MaterialIcons-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
  font-family: 'Material Icons Outlined Regular';
  src: url("../fonts/MaterialIconsOutlined-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*@font-face {
    font-family: 'Material Icons Two Tones';
    src: url('../fonts/MaterialIconsTwoTone-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/
.materialIcons {
  font-family: 'Material Icons Outlined Regular';
  font-size: 24px;
  align-items: center;
  justify-content: center;
  vertical-align: middle; }
