@page
@model web_PickleballTerrebonne.Areas.Identity.Pages.Account.ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirmer le changement d'adresse Courriel";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />