@page
@model webPickleballTerrebonne.Areas.Identity.Pages.Account.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmation du mot de passe oublié";
}

<h1>@ViewData["Title"]</h1>
<p>
    Veuillez consulter votre messagerie électronique pour réinitialiser votre mot de passe.
</p>
